/* Body styling */
body {
    background-color: #0c0d20;
}

/* Home Screen Styling */
.main-home {
    text-align: center;
    margin-top: 100px;
}

.quiz-title {
    color: white;
    font-weight: lighter;
    font-size: 5.4rem;
    margin-bottom: 0;
    font-family: 'Rubik Moonrocks', cursive;
}

.quiz-description {
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    text-align: center;
}

.input-name {
    height: 50px;
    border-radius: 8px;
    outline: none;
    border: #0c0d20;
    color: #0c0d20;
    padding: 5px 20px;
    font-size: 25px;
    width: 400px;
}

.start-btn {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;

    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

/* Home screen (mobile view) */

@media (min-width:1024px) {
    .main-home {
        text-align: center;
        margin-top: 150px;
    }
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

@media (max-width:768px) {
    .quiz-title {
        color: white;
        font-weight: lighter;
        font-size: 4.4rem;
        margin-bottom: 0;
        font-family: 'Rubik Moonrocks', cursive;
    }

    .quiz-description {
        color: white;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

    .input-name {
        height: 50px;
        border-radius: 8px;
        outline: none;
        border: #0c0d20;
        padding: 5px 20px;
        font-size: 20px;
        width: 300px;
    }
}

@media (max-width:400px) {
    .quiz-title {
        color: white;
        font-weight: lighter;
        font-size: 3.4rem;
        margin-bottom: 0;
        font-family: 'Rubik Moonrocks', cursive;
    }

    .quiz-description {
        color: white;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

    .input-name {
        height: 50px;
        border-radius: 8px;
        outline: none;
        border: #0c0d20;
        padding: 5px 20px;
        font-size: 20px;
        width: 270px;
    }
}

/* Quiz Questions Styling */
.question-main {
    color: white;
}



.name-title {
    margin-top: 15px;
    font-size: 25px;

    font-weight: 500;
    margin-bottom: 40px !important;
    font-family: 'Montserrat', sans-serif;
}

.player-name {
    color: #5B42F3;
}

.timer {
    font-size: 50px !important;
}



.question-heading {
    padding-left: 50px;
    padding-right: 50px;
}

.question-option {
    background-color: #734abae6;
    color: #ffffff;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.fifty-btn {
    cursor: pointer;
    color: #0c0d20 !important;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 10px 15px;

}

.button-29 {
    align-items: center;
    appearance: none;

    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #0c0d20 !important;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.timer-main {
   
    display: none;
    position: absolute;
    top: 88%;

    left: 46%;
}

.show-the-time {
    display: block;
}

.timer-active {
    left: 43% !important;
}

.time-e {
    position: absolute;
    top: 87.5%;
    left: 49.3%;
    z-index: 999999;
}

.time-b {
    left: 50% !important;
}


@media (max-width:700px) {
    .button-29 {
        align-items: center;
        appearance: none;

        border: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #0c0d20 !important;
        cursor: pointer;
        display: inline-flex;
        height: 35px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 9px;
        padding-right: 9px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
    }

    .timer-main {
        top: 88%;
        left: 37%;
    }

    .time-e {
        position: absolute;
        top: 87.5%;
        left: 44.3%;
        z-index: 999999;
    }

    .right-btn {
        left: 66% !important;
    }

    .left-btn {
        left: 17% !important;
    }

    .question-heading {
        padding-left: 20px;
        padding-right: 20px;
    }

    .question-heading h1 {
        font-size: 16px;
    }

    .question-option {

        font-size: 15px;

    }
}

@media (max-width:520px) {
    .set img {
        width: 50px !important;
    }

    .main-home {
        text-align: center;
        margin-top: 40px;
    }

    .right-btn {
        top: 95% !important;
        left: 64% !important;
    }

    .left-btn {
        top: 95% !important;
        left: 12% !important;
    }

    .timer-main {

        top: 95%;

    }

    .time-e {
        position: absolute;
        top: 94.5%;
        left: 40.3%;
    }

    .timer-main {


        left: 37%;
    }
}


/* circle animation */

.progress {
    position: relative;
    height: 30px;
    width: 1110%;
    border: 5px solid #ffffff;
    border-radius: 18px;
}

.progress-extra {
    width: 2220%;
}

.progress .color {
    position: absolute;
    background-color: #23b93c;
    width: 0px;
    height: 30px;
    border-radius: 15px;
    animation: progres 30s infinite linear;
}

.progress-extra .color {
    animation: progres 40s infinite linear !important;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}